@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="card shadow m-3 d-inline-block border-0 col-md-2 col-sm-3">
    <div class="card-body">
        <div style="display:none;">@Id</div>
        <img src="@Ruta_Imagen" class="card-img w-100" alt="@Nombre" style="width: 200px;">
        <div class="d-flex flex-column mt-3">
            <h5 class="card-text fw-bold text-wrap" style="max-width: 100%;">@Nombre</h5>
            <span class="card-text">Precio: Bs. @Precio_Unitario.ToString()</span>
            <span class="card-text">Precio por caja: Bs. @Precio_Caja.ToString()</span>
        </div>

        <div class="mt-auto">
            <div class="d-flex justify-content-between align-items-center">
            <span class="badge bg-success fs-6">Stock: @StockTotal</span>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary btn-sm" 
                            title="Editar producto" @onclick="() => EditarProducto(Id)">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" 
                            title="Ver producto" @onclick="() => VerProducto(Id)">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@code{
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string? Nombre { get; set; }
    [Parameter]
    public decimal Precio_Unitario { get; set; }
    [Parameter]
    public decimal Precio_Caja { get; set; }
    [Parameter] 
    public int StockTotal { get; set; }
    [Parameter]
    public string? Ruta_Imagen { get; set; }

    private void EditarProducto(int id)
    {
        Navigation.NavigateTo($"/productos/editar/{id}");
    }

    private void VerProducto(int id)
    {
        Navigation.NavigateTo($"/productos/{id}");
    }
}