@rendermode InteractiveServer

<div class="card shadow m-3 d-inline-block border-0">
    <div class="card-body">
        <div style="visible:none;">@Id</div>
        <img src="@Ruta_Imagen" class="card-img" alt="Imagen del producto" style="width: 200px;">
        <div class="d-flex flex-column mt-3">
            <h5 class="card-text fw-bold">@Nombre</h5>
            <h6 class="card-text fw-bold text-muted">Stock: @StockTotal</h6>
            <span class="card-text">Precio: Bs. @Precio_Unitario.ToString()</span>
            <span class="card-text">Precio por caja: Bs. @Precio_Caja.ToString()</span>
        </div>
    </div>
</div>


@code{
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string? Nombre { get; set; }
    [Parameter]
    public decimal Precio_Unitario { get; set; }
    [Parameter]
    public decimal Precio_Caja { get; set; }
    [Parameter] 
    public int StockTotal { get; set; }
    [Parameter]
    public string? Ruta_Imagen { get; set; }
}